/* @font-face {
    font-family: 'Franklin Gothic Book';
    src: url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-BookItalic.woff2') format('woff2'),
        url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-HeavyItalic.woff2') format('woff2'),
        url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-Book.woff2') format('woff2'),
        url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-Medium.woff2') format('woff2'),
        url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Franklin Gothic';
    src: url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-MediumItalic.woff2') format('woff2'),
        url('https://videoclub.org.uk/wp2018/wp-content/plugins/whatremains-plugin/fonts/FranklinGothic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
} */



:root {
    --mainbrandcolor: #FF9A9A;
    --regPadding: 17px;
    --smallSize: 20px;
    --smallSizeMobile: 15px;
}
  

* {
    color:  var( --mainbrandcolor);
    /* box-sizing: border-box; */
    font-family: 'Franklin Gothic';
}

button{
    background-color: rgba(0, 0,0,0);
    border:rgba(0, 0, 0,0) 0px solid;
}

html {
    scroll-behavior: smooth;
  }

html,
body{
    background-color: black;
    margin: 0;
    min-height: 100vh;
}

h1{
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}
h2{
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: var(--smallSize);
    margin: 0;
}
h3{
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: var(--smallSize);
}
p{
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: var(--smallSize);
    text-align: justify;
}
h4{
    text-align: justify;
}


.blockcontent h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.blockcontent h3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}



@media screen and (max-width: 700px) {
    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: var(--smallSizeMobile);  
    }
    /* :root {
        --smallSize: var(--smallSizeMobile);
    } */

  }



.standard_button_look{
  max-width: 100%;
  display: inline-block;
  margin-bottom: var(--regPadding);
  margin-right: var(--regPadding);
}

.standard_button_look h2{
   padding: 9px 93px 9px 24px;
   margin: 0;
   display: inline-block;
   position: relative;
   border: 5px solid var( --mainbrandcolor);;
   border-radius: 193px;
   width: auto;
   white-space: nowrap;
}

.standard_button_look h3{
    padding: 9px 26px;
    margin: 0;
    display: inline-block;
    position: relative;
    border: 5px solid var( --mainbrandcolor);;
    border-radius: 193px;
    width: auto;
    white-space: nowrap;
 }
.can_be_clicked{
    box-shadow: -1px 0px 9px 3px var( --mainbrandcolor);;
}




/* header */


.what_remains_header{
    margin: 24px var(--regPadding);;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
} 

.what_remains_header_single_post{
    margin: 24px var(--regPadding);;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 900px;
} 
.what_remains_header_single_post div{
    position: relative;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    z-index: 2;
} 
.what_remains_footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    z-index: 2;
    width: 100%;
} 
@media screen and (max-width: 700px) {
    .what_remains_footer{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        z-index: 2;
        width: 100%;
    } 
}

.what_remains_footer .container{ 
    margin: 24px var(--regPadding);
    max-width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
} 
.what_remains_footer div img{ 
    max-width: 100%;
    margin-top: var(--regPadding);
} 







/* video trailer real */

#vimeo-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 800px;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
 }
 .livestream-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 800px;

 }

 #vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 #vimeo-wrapper img{
    width: 100%;
    height: 100%; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100%;
    min-width: 100%; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /* transform: translate(-50%, -50%); */
 }
 .cover{
     width: 100%;
     max-width: 100%;
     object-fit: cover;
 }
.coverVideo{
    padding:56% 0 0 0;
    position:relative;
} @media screen and (min-width: 1050px) {
    .coverVideo{
        padding:33% 0 0 0;
        position:relative;
    } 
}
.cover{
     max-height: 70vh;
 }


.gradient_overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0,0,0)), to(rgba(0, 0, 0,1)));
    pointer-events: none;
}
.phase_details h1:nth-child(1),
.entry-title h1:nth-child(1){
    margin-bottom: 0 !important;
}


.phase_details{
    position: absolute;
    bottom: 0;
    margin: var(--regPadding) var(--regPadding) 93px var(--regPadding);
}
.phase_details h1{
    margin: 0;
    margin-bottom: var(--regPadding);
    max-width: 600px;
}



.videoplayer{
    width: 100%;
    min-height: 400px;
}


/* content */

.content{
    margin: 10%;
}

.entry-title{
    padding-bottom: var(--regPadding);
    margin-bottom: 40px;
}



.phase_details h1:nth-child(2),
.entry-title h1:nth-child(2){
   font-size: 50px;
}


.entry-title h1:nth-child(3){
    font-size: 30px;
    max-width: 500px;
 }

.content-navigation{
    display: flex;
    flex-direction: column;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.columns .contentcolumn{
   padding-right: var(--regPadding);
   min-width: 45%;
}


.columns .videocolumn{
    padding-left: var(--regPadding);
    min-width: 45%;
    max-width: 500px;
    margin-bottom: 100px;
 }

@media screen and (max-width: 1050px) {
    .content{
        margin: 17px;
    }
    .columns{
        flex-direction: column;
    }
    .columns .contentcolumn,
     .columns .videocolumn{
         padding: 0;
      }
    .maxWidthColumn{
        max-width: 500px;
     }
}
@media screen and (min-width: 900px) {
    .spacer{
        height: 600px;
    }
}
.spacer{
    height: 100px;
}


.thumbnail {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
}@media screen and (max-width: 900px) {
    .thumbnail {
      padding-bottom: 110px;
    }
    .thumbnail .gradient_overlay{
        background-image: linear-gradient(180deg, rgba(0, 0,0,0), rgba(0, 0, 0,1)55%);
    }
}
.thumbnail .gradient_overlay{
    height: 100%;
}
.thumbnail img{
    max-width: 100%;
    width: 100%;
}
.thumbnail_details{
    position: absolute;
    bottom: 0;
}
.thumbnail_details div{
    margin-bottom: var(--regPadding);
    margin-right: var(--regPadding);
}

.program_item{
    margin-top: var(--regPadding);
    margin-bottom: 50px;
}

.program_row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.program_row .thumbnail{
   width: 49%;
}@media screen and (max-width: 1300px) {
    .program_row .thumbnail{
        padding-bottom: 110px;
     }
}@media screen and (max-width: 1050px) {
    .program_row .thumbnail{
        width: 100%;
        padding-bottom: 0px;
     }
}



